@using Microsoft.AspNetCore.Identity
@using CascadeFinance.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a asp-area="" asp-controller="Dashboard" asp-action="Dashboard"><i class="material-icons">monetization_on</i></a></li>
        <li><a asp-area="" asp-controller="Dashboard" asp-action="VisualAnalytics"><i class="material-icons">timeline</i></a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="AccountSettings"><i class="material-icons">settings</i></a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Help"><i class="material-icons">help_outline</i></a></li>
        <li>
            <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">



                <button type="submit" class="waves-effect waves-light btn-large btn-flat white-text">Log off</button>


            </form>
        </li>
    </ul>
}
else
{

    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Help">Help</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
    
}
