@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BankAccountViewModel
@{
}

<div class="container">
    <div class="row">
        <div class="large">
            <div class="card white darken-1">
                <div class="card-content">
                    <span class="card-title">Enter Bank Account Information</span>
                    <form asp-controller="Wizard" asp-action="AddAccount" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="input-field col s12">
                                <!-- Inline required because set to none for some reason in materialize-->
                                <select style="display:inline" onchange="institutionSelected()" asp-for="Bank" asp-items="Model.Banks">
                                    <option selected>Please select an institution</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input asp-for="Username" class="validate" />
                                <label asp-for="Username"></label>
                                <span asp-validation-for="Username"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input asp-for="Password" type="password" class="validate" />
                                <label asp-for="Password"></label>
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div id="mFA" class="row" style="display:none">
                            <div class="input-field col s12">
                                <input type="password" asp-for="ChallengeQuestion" class="validate" />
                                <label asp-for="ChallengeQuestion">Challenge Question Answer</label>
                                <span asp-validation-for="ChallengeQuestion"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-s.5 grid-example">
                                <button class="btn waves-effect waves-light" type="submit">
                                    Submit
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
