@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RegisterViewModel
@{
}
<div class="container">
    <div class="row" style="margin-top:0.5rem">
        <div class="tabs-vertical">
            <div class="col s4 m3 l3">
                <ul class="tabs">
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#incomeDir">Income</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#emailDir">Housing</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#codeDir">Groceries</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#appsDir">Essentials</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#emailDir">Income Expenses</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#codeDir">Healthcare</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#appsDir">Min. Debt Payments</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#emailDir">Other Expenses</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#codeDir">Total</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#codeDir">Prioritization</a>
                    </li>
                </ul>
            </div>
            <div class="col s8 m9 l9">
                <div id="incomeDir" class="tab-content">
                    <div class="large">
                        <div class="card white darken-1">
                            <form asp-controller="Wizard" asp-action="Submit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                <div class="card-content cyan-text">
                                    <span class="card-title">Income</span>
                                    <div class="divider"></div>
                                    <div asp-validation-summary="All"></div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input asp-for="MonthlyIncome" class="validate" />
                                            <label asp-for="MonthlyIncome"></label>
                                            <span asp-validation-for="MonthlyIncome"></span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn waves-effect waves-light" type="submit">
                                        Register
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="emailDir" class="tab-content"></div>
                    <div id="codeDir" class="tab-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
