<style>
	.container {
		margin: 2%;
	}

	li {

	}

</style>

<div class="container">
	<h2>Questions? </h2>
	<h4 class="flow-text">New User</h4>	
	<li class="grey-text darken-2-text">Sign up with a valid email and a password</li>
	<li class="grey-text darken-2-text"> Note: password should be at least 6 characters long and must include one uppercase letter and one non alphabetic character.</li>

	<h4 class="flow-text"> Set up</h4>
	<li class="grey-text darken-2-text">Whether this is your first time registering or you haven’t set up your account yet, make sure you have your bank institution credentials ready. </li>
	<li class="grey-text darken-2-text">Select your bank institution and enter the appropriate credentials.</li>
	<li class="grey-text darken-2-text">Once you press submit, you will be first prompted with the section to enter your monthly income.</li>
	<li class="grey-text darken-2-text">You will see other tabs for other common expenses that we have already set up where you set your budget for those expenses, but if you have specific expenses you want to account for you can enter them in the other expenses tab.</li>
	<li class="grey-text darken-2-text">After you’ve set all your budgets, the last tab is the prioritization tab where you can prioritize each expense in the order of which is most important.</li>

	<h4 class="flow-text">Dashboard</h4>
	<li class="grey-text darken-2-text">The dashboard provides a clear mapping of your expenses, showing you how much money you will have left over at the end of the month.</li>
	<li class="grey-text darken-2-text">At the top right of the Dashboard page, there is an information button that will show you a drill down of your expenses.</li>
	<li class="grey-text darken-2-text">When you click on a certain category in the drill down, it will show you how much  money you’ve allocated for that category and how much you’ve already spent on that category. This information is gathered from your bank accounts.</li>

	<h4 class="flow-text">Analytics</h4>
	<li class="grey-text darken-2-text">The Analytics page provides you with some visuals about your monthly expenses.</li>

	<h4 class="flow-text">Settings</h4>
	<li class="grey-text darken-2-text">If ever at any point you feel the need to change your current budget(s) or prioritization, you can do so by clicking the gear icon at the top right of any page.</li>
	<li class="grey-text darken-2-text">By clicking on the appropriate edit button, you can either modify your budget for certain categories or edit your prioritization for your spendings.</li>
</div>

