@{
    ViewData["Title"] = "Home Page";
}

<!-- Top section with logo -->
<div class="row">
    <div class="container">
        <div class="col s12">
            <div class="center">
                <p>
                    <img class="" src="~/images/duckHome.png" alt="Duck Finances Full Logo" width="50%" height="auto" />
                </p>
            </div>
            
            <h2 class="center cyan-text lighten-1">Keeping you afloat.</h2>

            <div class="center">
                <a class="waves-effect waves-light btn-large light-green" asp-area="" asp-controller="Account" asp-action="Register">Register now</a>
            </div>
        </div>
    </div>
</div>

<!-- Blue Section with "What is Duck Finances?"-->
<div class="row cyan lighten-1">
    <div class="container">
        <div class="col s7">
            <h3 class="white-text ">What is Duck Finances?</h3>
            <p class="flow-text white-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum mattis vestibulum. Nunc ultrices, sem sed bibendum volutpat, massa leo mattis felis, sed vulputate quam felis sed orci. Donec pharetra mauris erat. In rhoncus mauris massa, eget auctor dui dapibus eget. Nam molestie vulputate orci, sed faucibus sem volutpat nec.
            </p>
        </div>
        <div class="col s5">
           <div class="valign-wrapper">
               <p  class="valign">
                <img src="~/images/graphScreen.png" alt="Screen with finance flow chart" width="100%" height="auto" />
                </p>
           </div>
        </div>
    </div>
</div>

<!-- White Section with Plaid details -->
<div class="row white">
    <div class="container">
        <div class="col s2">
            <div class="valign-wrapper">
                <p class="valign">
                    <img src="~/images/plaidLogo.png" alt="Plaid Logo" width="100%" height="auto" />
                </p>
            </div>
        </div>
        <div class="col s10">
            <p class="flow-text grey-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur elementum mattis vestibulum. Nunc ultrices, sem sed bibendum volutpat, massa leo mattis felis, sed vulputate quam felis sed orci. Donec pharetra mauris erat. 
            </p>
        </div>
    </div>
</div>
     
