@{
    ViewData["Title"] = "Dashboard";
}

<div id="partialViewContainer"></div>
<div class="container"><br />
    <div class="row">
        <div class="col s11">
            <h4 class="cyan-text">Monthly Budget Breakdown</h4>
            <p class="grey-text">For more information about your expenses, click the circular button to the right.</p>
        </div>
        <div class="col s1">
            <a class="btn-floating btn-large waves-effect waves-light cyan" href="#IncomeModal"><i class="small material-icons">info_outline</i></a>
        </div>
    </div>
  
    
    
    
    <!-- FIRST ROW -->
    <div class="row">
       
        <!-- Monthly Income-->    
        <div class="col s2">
                <div class="card horizontal red lighten-3 white-text">
                    <div class="card-content ">
                            <p>INCOME</p>
                            
                        <span class="card-title" id="income-value">$0.00</span>

                    </div>
                </div>
            </div>

        <div class="col s3">
            <p class="center-align ">
                <img src="~/images/arrow_left_long.png" width="80%" height="auto" />
            </p>
        </div>
            
        <!--Rent/ Morgage Expenses-->
            <div class="col s2">
                <div class="card horizontal red lighten-3 white-text">
                    <div class="card-content ">
                        <p id="1-name"> </p>
                        <span class="card-title" id="1-value">-$0.00</span>

                    </div>
                </div>
            </div>

            <div class="col s3">
                    <p class="center-align ">
                        <img src="~/images/arrow_left_long.png" width="80%" height="auto" />
                    </p>
            </div>

            <!--Food and Gorcery Expenses-->
            <div class="col s2">
                <div class="card horizontal red lighten-3 white-text">
                    <div class="card-content ">
                        <p id="2-name"></p>
                        <span class="card-title" id="2-value">-$0.00</span>

                    </div>
                </div>
            </div>
        
    </div>
    
    <!-- 1st ARROW ROW -->
    <div class="row">
        <div class="col s2">
        </div>
        <div class="col s8">
        </div>
        <div class="col s2">
            <div class="center-align ">
                <img src="~/images/arrow_down_ss.png" width="30%" height="auto" />
            </div>
        </div>
    </div>

    <!-- 2nd CARD ROW-->
    <div class="row">

        <!--Other Extraneous Expenses-->
        <div class="col s2">
            <div class="card horizontal red lighten-3 white-text">
                <div class="card-content ">
                    <p>Other</p>
                    <span class="card-title" id="7-value">-$0.00</span>

                </div>
            </div>
        </div>

        <div class="col s2">
            <p class="center-align ">
                <img src="~/images/arrow_right_mid.png" width="70%" height="auto" />
            </p>
        </div>

        <!-- Total Leftover Amount-->
        <div class="col s4">
            <div class="card light-green lighten-1 white-text">
                <div class="card-content ">
                    <p>LEFTOVER AMOUNT</p>
                    <span class="card-title center-align" id="remaining-value"></span>

                </div>
            </div>
        </div>

        <div class="col s2">
        </div>

        <!--Essential Item Expenses-->
        <div class="col s2">
            <div class="card horizontal red lighten-3 white-text">
                <div class="card-content ">
                    <p id="3-name"></p>
                    <span class="card-title" id="3-value">-$0.00</span>

                </div>
            </div>
        </div>
    </div>

    <!--2nd ARROW ROW-->
    <div class="row">
        <div class="col s2">
            <div class="center-align ">
                <img src="~/images/arrow_us_ss.png" width="30%" height="auto" />
            </div>
        </div>
        <div class="col s8">
        </div>
        <div class="col s2">
            <div class="center-align ">
                <img src="~/images/arrow_down_ss.png" width="30%" height="auto" />
            </div>
        </div>

    </div>

    <!-- BOTTOM ROW-->
    <div class="row">

        <!--Minimum Payments on Debts/Loans-->
        <div class="col s2">
            <div class="card horizontal red lighten-3 white-text">
                <div class="card-content ">
                    <p id="6-name"></p>
                    <span class="card-title" id="6-value">-$0.00</span>

                </div>
            </div>
        </div>

        <div class="col s3">
            <p class="center-align ">
                <img src="~/images/arrow_actual_left_long.png" width="80%" height="auto" />
            </p>
        </div>

        <!--Healthcare Expenses-->
        <div class="col s2">
            <div class="card horizontal red lighten-3 white-text">
                <div class="card-content ">
                    <p id="5-name"></p>
                    <span class="card-title" id="5-value">-$0.00</span>

                </div>
            </div>
        </div>

        <div class="col s3">
            <p class="center-align ">
                <img src="~/images/arrow_actual_left_long.png" width="80%" height="auto" />
            </p>
        </div>

        <!-- Income Earning Expenses-->
        <div class="col s2">
            <div class="card horizontal red lighten-3 white-text">
                <div class="card-content ">
                    <p id="4-name"></p>
                    <span class="card-title" id="4-value">-$0.00</span>

                </div>
            </div>
        </div>
    </div>

    <div id="IncomeModal" class="modal cyan lighten-1">
        <div class="modal-content">
            
            @Html.Partial("Drilldown")
        </div>

    </div>

</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    /* NEW - Pull data from View by serialization */
    var widgets = @Html.Raw(Json.Serialize(ViewData["Data"]));
    /* Push data into new arrays */
    var subNames = [];
    var subData = [];
    widgets.forEach(function(widget){
        subNames.push(widget.name);
        subData.push(widget.total);
    });
    $("#income-value").html("$"+subData[0]);
    $("#1-value").html("-$"+subData[1]);
    $("#2-value").html("-$"+subData[2]);
    $("#3-value").html("-$"+subData[3]);
    $("#4-value").html("-$"+subData[4]);
    $("#5-value").html("-$"+subData[5]);
    $("#6-value").html("-$"+subData[6]);
    var total = subData[0]-subData[1]-subData[2]-subData[3]-subData[4]-subData[5]-subData[6]-subData[7];
    $("#remaining-value").html("$"+total);
    $("#7-value").html("-$"+subData[7]);

    $("#1-name").html(subNames[1]);
    $("#2-name").html(subNames[2]);
    $("#3-name").html(subNames[3]);
    $("#4-name").html(subNames[4]);
    $("#5-name").html(subNames[5]);
    $("#6-name").html(subNames[6]);
    //$("#7-name").html("$"+subNames[7]);

    $(document).ready(function () {
        

        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
        //$('.modal-trigger').leanModal();
        $('#IncomeModal').modal({
            dismissible: true, // Modal can be dismissed by clicking outside of the modal
            opacity: .5, // Opacity of modal background
            in_duration: 300, // Transition in duration
            out_duration: 200, // Transition out duration
            starting_top: '4%', // Starting top style attribute
            ending_top: '10%' // Ending top style attribute

        }
            );
        $('.collapsible').collapsible();
    });

    
</script>