@{
    ViewData["Title"] = "Drilldown";
}
<div class="row">
    <span class="right white-text">
        <a href="#!" class="modal-action modal-close waves-effect waves-light white-text">
            <i class="medium material-icons">close</i>
        </a>
    </span>
    <h2 class="left white-text">Expenses</h2>
</div>

<p class="flow-text white-text">Click on each of the rows below to find out more information. If you wish to changed the allotted amounts, navigate to the Settings page.</p>
<ul class="collapsible  grey-text darken-1" data-collapsible="accordion">
    <!--Monthly Income Row-->
    <li>
        <div class="collapsible-header flow-text">
            <div class="left">
                <i class="material-icons">monetization_on</i>Monthly Income Left
            </div> 
            <div class="right light-green-text">
                +$516.05
            </div>
        </div>
        <div class="collapsible-body white">
            <p class="flow-text">You have a monthly income of <span class="light-green-text">$3843.37</span> and have spent <span class="red-text">$3327.32</span> so far this month.  </p>
        </div>
    </li>

    <!--Rent and Morgage Row-->
    <li>
        <div class="collapsible-header flow-text">
            <div class="left">
                <i class="material-icons">home</i>Rent and Morgage Expenses
            </div>
            <div class="right red-text">
                -$858.12
            </div>
        </div>
        <div class="collapsible-body white">
            <div class="row flow-text">
                <p>You have allocated <span class="light-green-text">$858.12</span> and have spent <span class="red-text">$843.12</span> so far this month.  </p>
            </div>
        </div>
    </li>

    <!--Food and Grocery Row-->
    <li>
        <div class="collapsible-header flow-text">
            <div class="left">
                <i class="material-icons">local_dining</i>Food and Grocery Expenses
            </div> 
            <div class="right red-text">
                -$80.00
            </div>
        </div>
        <div class="collapsible-body white">
            <div class="row flow-text">
                <p>You have allocated <span class="light-green-text">$80.00</span> and have spent <span class="red-text">$44.31</span> so far this month.  </p>
            </div>
            <div class="row">
                <div class="col s1"></div>
                <div class="col s10">
                    <!--THESE TABLE FIELDS SHOULD LIST THE EXPENSES SO FAR THIS MONTH FOR THIS SECTION -->
                    <table>
                        <thead>
                            <tr>
                                <th data-field="id">Name</th>
                                <th data-field="id">Date</th>
                                <th data-field="id">Amount</th>
                            </tr>
                            <tr>
                                <td>Gregorys Coffee</td>
                                <td>6/21/2014</td>
                                <td>$3.19</td>
                            </tr>
                            <tr>
                                <td>Krankies Coffee</td>
                                <td>5/9/2014</td>
                                <td>$7.23</td>
                            </tr>
                            <tr>
                                <td>Octane Coffee Bar and Lounge</td>
                                <td>4/17/2014</td>
                                <td>$5.32</td>
                            </tr>
                            <tr>
                                <td>Papa Johns Pizza</td>
                                <td>4/11/2014</td>
                                <td>$28.57</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col s1"></div>
            </div>
        </div>
    </li>

    <!--Essential Items Row-->
    <li>
        <div class="collapsible-header flow-text">
            <div class="left">
                <i class="material-icons">shopping_cart</i>Essential Item Expenses
            </div> 
            <div class="right red-text">
                -$50.00
            </div>
        </div>
        <div class="collapsible-body white">
            <div class="row flow-text">
                <p>You have allocated <span class="light-green-text">$50.00</span> and have spent <span class="red-text">$0.00</span> so far this month.  </p>
            </div>
        </div>
    </li>

    <!--Income Earning Row-->
    <li>
        <div class="collapsible-header flow-text">
            <div class="left">
                <i class="material-icons">business_center</i>Income Earning Expenses
            </div>
            <div class="right red-text">
                -$200.00
            </div>
        </div>
        <div class="collapsible-body white">
            <div class="row flow-text">
                <p>You have allocated <span class="light-green-text">$200</span> and have spent <span class="red-text">$2307.15</span> so far this month.  </p>
            </div>
            <div class="row">
                <div class="col s1"></div>
                <div class="col s10">
                    <!--THESE TABLE FIELDS SHOULD LIST THE EXPENSES SO FAR THIS MONTH FOR THIS SECTION -->
                    <table>
                        <thead>
                            <tr>
                                <th data-field="id">Name</th>
                                <th data-field="id">Date</th>
                                <th data-field="id">Amount</th>
                            </tr>
                            <tr>
                                <td>Apple Store</td>
                                <td>6/23/2014</td>
                                <td>$2307.15</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col s1"></div>
            </div>
        </div>

    </li>

    <!--Healthcare Expense Row-->
    <li>
        <div class="collapsible-header flow-text">
            <div class="left">
                <i class="material-icons">favorite</i>Healthcare Expenses
            </div>
            <div class="right red-text"> 
                -$60.00
            </div>
        </div>
        <div class="collapsible-body white">
            <div class="row flow-text">
                <p>You have allocated <span class="light-green-text">$60.00</span> and have spent <span class="red-text">$0.00</span> so far this month.  </p>
            </div>
            <div class="row">
                <div class="col s1"></div>
                <div class="col s10">
                    <!--THESE TABLE FIELDS SHOULD LIST THE EXPENSES SO FAR THIS MONTH FOR THIS SECTION -->
                    <table>
                        <thead>
                            <tr>
                                <th data-field="id">Name</th>
                                <th data-field="id">Date</th>
                                <th data-field="id">Amount</th>
                            </tr>

                        </thead>
                    </table>
                </div>
                <div class="col s1"></div>
            </div>
        </div>

    </li>

    <!--Debts and Loans Row-->
    <li>
        <div class="collapsible-header flow-text">
            <div class="left">
                <i class="material-icons">attach_money</i>Minimum Payments on Debts and Loans
            </div>
            <div class="right red-text">
                -$553.00
            </div>
        </div>
        <div class="collapsible-body white">
            <div class="row flow-text">
                <p>You have allocated <span class="light-green-text">TOTAL_AMOUNT_HERE</span> and have spent <span class="red-text">TOTAL_AMOUNT_SPENT_HERE</span> so far this month.  </p>
            </div>
        </div>
    </li>

    <!--Other Expenses Row-->
    <li>
        <div class="collapsible-header flow-text">
            <div class="left">
                <i class="material-icons">add_circle</i>Other Expenses
            </div>
            <div class="right red-text">
                -$233.45
            </div>
        </div>
        <div class="collapsible-body white">
            <div class="row flow-text">
                <p>You have allocated <span class="light-green-text">TOTAL_AMOUNT_HERE</span> and have spent <span class="red-text">TOTAL_AMOUNT_SPENT_HERE</span> so far this month.  </p>
            </div>
            <div class="row">
                <div class="col s1"></div>
                <div class="col s10">
                    <!--THESE TABLE FIELDS SHOULD LIST THE EXPENSES SO FAR THIS MONTH FOR THIS SECTION -->
                    <table>
                        <thead>
                            <tr>
                                <th data-field="id">Name</th>
                                <th data-field="id">Date</th>
                                <th data-field="id">Amount</th>
                            </tr>
                            <tr>
                                <td>EXAMPLE</td>
                                <td>11/30/2016</td>
                                <td>$0.00</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col s1"></div>
            </div>
        </div>

    </li>

    
</ul>