
<div class="row">
    <div class="col s6">
        <div class="card white darken-3">
            <div class="card-content cyan-text">
                <h3>Widget Ratios</h3>
                <canvas id="myChart"></canvas>
                <script type="text/javascript">
                    /* NEW - Pull data from View by serialization */
                    var widgets = @Html.Raw(Json.Serialize(ViewData["Data"]));
                    console.log("Accessing the controllers data...");
                    console.log(widgets);
                    
                    /* Push data into new arrays */
                    var subNames = [];
                    var subData = [];
                    widgets.forEach(function(widget){
                        subNames.push(widget.name);
                        subData.push(widget.total);
                    });

                    /* Check arrays for validity */
                    console.log(subNames);
                    console.log(subData);

                    var ctx = document.getElementById("myChart");
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            /* Pass names of widgets */
                            labels: subNames,
                            datasets: [
                                {
                                    /* Pass data of widgets */
                                    data: subData,
                                    backgroundColor: [
                                        '#9CCC65',
                                        '#1DE9B6',
                                        '#26C6DA',
                                        '#2196F3',
                                        '#3F51B5',
                                        '#673AB7'
                                    ]
                                }
                            ]
                        }
                    });
                    </script>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card white darken-3">
            <div class="card-content cyan-text">
                <h3>Expenses Monthly</h3>
                <canvas id="myChart2"></canvas>
                <script type="text/javascript">

                    var ctx = document.getElementById("myChart2");
                    var myLineChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ["Housing", "Food", "Essentials", "Earnings", "Health", "Debts"],
                            datasets: [
                                {
                                    label: "My First dataset",
                                    backgroundColor: [
                                        'rgba(156,204,101,0.5)',
                                        'rgba(29,233,182,0.5)',
                                        'rgba(38,198,218,0.5)',
                                        'rgba(33,150,243,0.5)',
                                        'rgba(63,81,181,0.5)',
                                        'rgba(103,58,183,0.5)'
                                    ],
                                    borderColor: ['#9CCC65',
                                        '#1DE9B6',
                                        '#26C6DA',
                                        '#2196F3',
                                        '#3F51B5',
                                        '#673AB7'],
                                    borderWidth: 1,
                                    data: [65, 59, 80, 81, 56, 55, 40],
                                }
                            ]
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>