<div class="container">
    <div class="row" style="margin-top:0.5rem">
        <div class="tabs-vertical">
            <div class="col s4 m3 l3">
                <ul class="tabs">
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#incomeDir">Income</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#housingDir">Housing</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#groceriesDir">Groceries</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#essentialsDir">Essentials</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#incomeExpensesDir">Income Expenses</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#healthcareDir">Healthcare</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#minDebtDir">Min. Debt Payments</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#otherExpensesDir">Other Expenses</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#totalDir">Total</a>
                    </li>
                    <li class="tab">
                        <a class="waves-effect waves-cyan" href="#priorityDir">Prioritization</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>