@{
    ViewData["Title"] = "EditPrioritization";
}
<div class="card white darken-1">
    <div class="card-content cyan-text">
        <table>
            <thead>
                <tr>
                    <th data-field="id">Expense Type</th>
                    <th data-field="name">Current Prioritization</th>
                    <th data-field="price">New Prioritization</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Housing</td>
                    <td>1</td>
                    <td>
                        <div class="input-field">
                            <input type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Food</td>
                    <td>2</td>
                    <td>
                        <div class="input-field">
                            <input type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Essentials</td>
                    <td>3</td>
                    <td>
                        <div class="input-field">
                            <input type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Earning</td>
                    <td>4</td>
                    <td>
                        <div class="input-field">
                            <input type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Health</td>
                    <td>5</td>
                    <td>
                        <div class="input-field">
                            <input type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Debts</td>
                    <td>6</td>
                    <td>
                        <div class="input-field">
                            <input type="text">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Other Expenses</td>
                    <td>7</td>
                    <td>
                        <div class="input-field">
                            <input type="text">
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
        </div>
    </div>

        <!--
        <div id="priorityDir" class="tab-content">
            <div class="large">
                <div class="card white darken-1">
                    <div class="card-content cyan-text">
                        <!--<span class="card-title">Prioritization</span>
                        <div class="divider"></div>
                        <div class="row">
                            <p>Enter the order you would like to pay these expenses (1 - 7):</p>
                            <div class="input-field col s12">
                                <input type="number" value="1" step="any" />
                            </div>
                            <div class="input-field col s12">
                                <input type="number" value="2" step="any" />
                            </div>
                            <div class="input-field col s12">
                                <input type="number" value="3" step="any"/>
                            </div>
                            <div class="input-field col s12">
                                <input type="number" value="4" step="any" />
                            </div>
                            <div class="input-field col s12">
                                <input type="number" value="5" step="any" />
                            </div>
                            <div class="input-field col s12">
                                <input type="number" value="6" step="any" />
                            </div>
                            <div class="input-field col s12">
                                <input type="number" value="7" step="any" />
                            </div>
                        </div>
                        <div class="offset-s10">
                            <button class="btn waves-effect waves-light" type="submit">
                                Submit
                                <i class="mdi-content-send right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            -->
