@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

<div class="container">
    <div class="row" style="margin-top:10px">
        <div class="col s6 offset-s3">
            <div class="small">
                <div class="card white darken-1">
                    <div class="card-content cyan-text">
                        <div class="row">
                            <div class="col-md-8">
                                <section>
                                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                        <h4>Login</h4>
                                        <hr />
                                        <div asp-validation-summary="All" class="text-danger red-text"></div>
                                        <div class="form-group">
                                            <label asp-for="Email" class="col-md-2 control-label"></label>
                                            <div class="col-md-10">
                                                <input asp-for="Email" class="validate" />
                                                <span asp-validation-for="Email" class="text-danger red-text"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password" class="col-md-offset-3 col-md-2 control-label"></label>
                                            <div class="col-md-offset-5 col-md-10">
                                                <input asp-for="Password" class="validate" />
                                                <span asp-validation-for="Password" class="text-danger red-text"></span>
                                            </div>
                                        </div>
                                        <p>
                                           
                                                <a asp-action="ForgotPassword">Forgot your password?</a>
                                           
                                        </p>
                                        <div class="form-group">
                                            <div class="center">
                                                <button type="submit" class="waves-effect waves-light btn-large light-green">Login</button>
                                            </div>
                                        </div>
                                        <p>
                                            <div>
                                                <a asp-action="Register">Register Here.</a>
                                            </div>
                                        </p>
                                    </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
