@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row">
        <div class="large">
            <div class="card white darken-1">
                <div class="card-content">
                    <h2>@ViewData["Title"]</h2>

                    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <h4>Create a new account</h4>
                        <hr />
                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input asp-for="Email" class="validate"/>
                                <label asp-for="Email"></label>
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input asp-for="Password" />
                                <label asp-for="Password"></label>
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input asp-for="ConfirmPassword" class="validate"/>
                                <label asp-for="ConfirmPassword"></label>
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                        </div>
                        <br />
                        <div>
                            <div>
                                <button class="btn waves-effect waves-light" type="submit">Register
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
