@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="ResetPassword" method="post">
    <h4>Reset your password.</h4>
    <hr />
    <div asp-validation-summary="All"></div>
    <input asp-for="Code" type="hidden" />
    <div >
        <label asp-for="Email" ></label>
        <div >
            <input asp-for="Email"  />
            <span asp-validation-for="Email" ></span>
        </div>
    </div>
    <div>
        <label asp-for="Password" ></label>
        <div >
            <input asp-for="Password" />
            <span asp-validation-for="Password" ></span>
        </div>
    </div>
    <div >
        <label asp-for="ConfirmPassword" ></label>
        <div >
            <input asp-for="ConfirmPassword"/>
            <span asp-validation-for="ConfirmPassword" ></span>
        </div>
    </div>
    <div >
        <div>
            <button type="submit" >Reset</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
